{
  "env": {
    "jquery": true,
    "browser": true,
    "es6": true
  },
  "extends": "airbnb-base",
  "globals": {
    "$ao": true,
    "$af": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "filenames",
    "import"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack/development.js"
      }
    }
  },
  "rules": {
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "func-names": "off",
    "no-new": "off",
    "import/prefer-default-export": "off",
    "space-before-function-paren": "off",
    "wrap-iife": "off",
    "key-spacing": ["error", { "mode": "minimum" }],
  }
}
