<div>
  <p><strong>Addresses:</strong></p>

  <div id="class-locations">
    <%= f.simple_fields_for :locations do |location| %>
      <% render 'classes/form/location_fields', f: location %>
    <% end %>

    <%=  link_to_add_association 'Add address', f, :locations, class:'d-none js-add-location-cocoon-btn', partial: 'classes/form/location_fields' %>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#class-add-location-modal">
      Add address
    </button>
  </div>
</div>

