<!-- Modal -->
<div id="class-add-location-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add an address</h4>
      </div>
      <div class="modal-body">
        <%= render 'locations/search' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default js-add-class-location">Add address</button>

      </div>
    </div>
  </div>
</div>


