<div class="class-location js-nested-fields js-class-location">
  <%= f.input :raw_address, input_html: { class: 'hidden-field js-location-raw-address' } %>
  <%= link_to_remove_association "Remove address", f, { wrapper_class: 'js-nested-fields' } %>
</div>

