<h2>Edit my profile</h2>

<%= simple_form_for (@user) do |f| %>

  <div class="form-inputs">
    <%= render "users/basic_info_fields", user: @user, f: f %>
    <%= render "users/avatar_fields", user: @user, f: f %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Edit" %>
  </div>
<% end %>

