<div class="class-form-add-address js-class-form-add-address">
  <%= f.input :raw_address, input_html: { class: 'hidden-field js-address-form-raw-address' } %>
  <%= link_to_remove_association "Remove address", f %>
</div>
