<%= react_container({class: 'js-react-classe-search'}, {name: 'Mathieu'}) %>

<% @classes.each do |classe| %>
  <h2><%= link_to classe.title, classe %></h2>
  <p><%= classe.description %></p>
<% end %>

