<h2><%= @classe.title %></h2>
<p><%= @classe.description %></p>
<p>
  <% if @classe.tags.any? %>
    <tr id="tags">
      <th>Tags:</th>
      <td><%= render @classe.tags %></td>
    </tr>
  <% end %>
<p/>


<%= link_to "Edit class", edit_classe_path %>
