.sitewrapper
  margin-top: 60px

@media screen and (max-width: 62em)
  .sitewrapper
    overflow: hidden

footer
  background: color_bg_lightGrey
  .nav
    padding: 50px 0
    h6
      color: font_color_grey
      margin-bottom: 20px
    ul
      margin: 0
      padding: 0
      color: font_color_grey
      li
        list-style: none
  .copyright
    padding: 20px 0
    border-top: border
    p
      margin: 0
    .socialMedia
      background: #ececec
      height: 25px
      width: 25px
      position: relative
      float: left
      border-radius: 50%
      margin-right: 10px
      img
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto

@media screen and (max-width: 62em)
  footer .nav
    img, ul
      margin-bottom: 20px
    h6
      margin-bottom: 10px