<%= link_to "Create a class", new_classe_path, class: "nav-item nav-link btn" %>
<a class="nav-item nav-link" href="">Profile</a>
<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
