@import "bootstrap";

@import "buttons";

@import "topbar";

body {
  color: #454545;
  background-color: #f5f5f5;
  font-family: geomanist;
}

a {
  text-decoration: none;
  color: #454545;

  &:hover {
    color: #454545;
  }
}

// TODO: Remove
@import "./classes.scss";
