|  <div class="js-location-result-address"></div> <div class="js-location-result-city"></div> <div class="js-location-result-postal_code"></div> <div class="js-location-result-state"></div> <div class="js-location-result-state_code"></div> <div class="js-location-result-country_code"></div> <div class="js-location-result-longitude"></div> <div class="js-location-result-latitude"></div> <div class="location-map js-location-map"></div> --!> <div class="js-modal-location-result-text"></div> <div class="modal-location-map js-modal-location-map"></div> 
