<div class="js-search-location-errors">
</div>

<p>Search for an address</p>

<div class="search-location-search js-search-location-search">
  <%= render 'locations/search_form' %>
</div>
<div class="search-location-result js-search-location-result">
  <%= render 'locations/search_result' %>
</div>

