title Clascity - Knowledge is powerful and should be shared
meta(http-eqiv="Content-Type", content="text/html; charset=utf-8")
meta(http-equiv="Content-Language", content="en-us")
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(charset='utf-8')
meta(name="viewport" content="initial-scale=1")
link rel='icon' type='image/png' href=asset_path('favicon.png')

= csrf_meta_tags
= stylesheet_pack_tag 'main', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload'