<a class="nav-item nav-link" href="">Create a class</a>
<a class="nav-item nav-link" href="">Profile</a>
<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
